<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.news">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/__2021_05_31_144404"
        android:label="Sungkyul News"
        android:roundIcon="@drawable/megaphone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="false">
        <activity
            android:name="com.example.news.IntroActivity"
            android:label="Sungkyul News">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.news.InformationActivity">
        </activity>
        <activity android:name="com.example.news.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.news.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.news.LoginActivity"/>
        </activity>
        <activity android:name="com.example.news.MainActivity" />
        <activity android:name="com.example.news.ViewActivity">
        </activity>
        <activity android:name="com.example.news.WriteActivity">
        </activity>
        <activity android:name="com.example.news.MyBoard">
        </activity>
    </application>
</manifest>